 .header-color { 
/*    background-color: #181b91bd !important;*/
    background-color: #131E70!important;
    opacity: 100% !important;;
}
.testimonial-text{
    text-align: center;
}
.about-section{
    width:100% !important;
}
.hero_image{
   width:100% !important;
}
.logo {
        max-width: 150px;
      }
.hero_img{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.footer-color{
    background-color: #000000 !important;
}
.head-color{
color: #131E70 !important;
}
.user_name{
    text-align: center;
}
.about-image{
    width:85% !important;
    float:right !important;
}
/*.background_image {
    background-image: url(assets/img/hero_image.png) !important;
    background-size: cover;
}
*/